force-app/main/default/flows/Assign_Admin_to_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Admin</name>
        <label>Send Email to Admin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
             <value>
                <elementReference>Get_Available_Admin.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Default_Email.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nova solicitação atribuída a você.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Olá &lt;strong&gt;{!Get_Available_Admin.FirstName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;Uma solicitação de prioridade {!GetRecordPriority} foi atribuída a você.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dados da solicitação&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Nome: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Solicitante: {!Get_Requested_User.Name}&lt;/p&gt;&lt;p&gt;Data de criação: {!FormatedProjectCreatedDate}&lt;/p&gt;&lt;p&gt;Data de entrega estimada {!FormatedProjectEstimatedFinishDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para acessá-la, acesse o link a seguir: {!GetOrgHyperlink}.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Admin_Email_To_Variable</name>
        <label>Assign Admin Email To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AdminEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Available_Admin.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Admin</targetReference>
        </connector>
    </assignments>
    <description>Atribui um usuário administrador a um projeto criado ou atualizado.</description>
    <environments>Default</environments>
    <formulas>
        <name>FormatedProjectCreatedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!$Record.CreatedDate}))) + &quot;/&quot; + 
TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))) + &quot;/&quot; + TEXT(YEAR(DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <formulas>
        <name>FormatedProjectEstimatedFinishDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Record.Estimated_Finish_Date__c})) + &quot;/&quot; + TEXT(MONTH({!$Record.Estimated_Finish_Date__c})) + &quot;/&quot; + TEXT(YEAR({!$Record.Estimated_Finish_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>GetOrgHyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})) + &quot;/&quot; +{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>GetRecordPriority</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Priority__c}, &quot;Low&quot;, &quot;Baixa&quot;, &quot;Medium&quot;, &quot;Média&quot;,&quot;High&quot;,&quot;Alta&quot;,&quot;Crítica&quot;)</expression>
    </formulas>
    <interviewLabel>Assign Admin to Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Project__c] Assign Admin to Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Admin_Role</name>
        <label>Get Admin Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Available_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Admin</name>
        <label>Get Available Admin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Admin_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Admin_Role.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Default_Email</name>
        <label>Get Org Default Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Admin_Email_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Padrão</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requested_User</name>
        <label>Get Requested User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RequestedBy__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Admin_User</name>
        <label>Set Admin User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Org_Default_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>AdminAgent__c</field>
            <value>
                <elementReference>Get_Available_Admin.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Requested_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdminAgent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AdminEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
