force-app/main/default/flows/CreateProjectForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>&quot;Algo deu errado durante a criação de projeto, entre em contato com seu administrador.&quot;</description>
        <name>Muda_Mensagem_de_Erro_2</name>
        <label>Muda Mensagem de Erro 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MensagemErroDinamica</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Algo deu errado durante a criação de projeto, entre em contato com seu administrador.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Erro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>&quot;A prioridade é obrigatória para criar uma solicitação. Tente novamente.&quot;</description>
        <name>Muda_Mensagem_de_Erro_3</name>
        <label>Muda Mensagem de Erro 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MensagemErroDinamica</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A prioridade é obrigatória para criar uma solicitação. Tente novamente.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Erro</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Critical</name>
        <choiceText>&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Crítica&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>Alta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Baixa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Média</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Prioridade_Selecionada</name>
        <label>Prioridade Selecionada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SIM</defaultConnectorLabel>
        <rules>
            <name>NAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muda_Mensagem_de_Erro_3</targetReference>
            </connector>
            <label>NÃO</label>
        </rules>
    </decisions>
    <description>Screen flow para criação de objeto Project__c, coletando campos obrigatórios e atribuindo a um administrador válido.</description>
    <environments>Default</environments>
    <formulas>
        <name>FormatedProjectCreatedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!Get_Created_Project.CreatedDate}))) + &quot;/&quot; + TEXT(MONTH(DATEVALUE({!Get_Created_Project.CreatedDate}))) + &quot;/&quot; + TEXT(YEAR(DATEVALUE({!Get_Created_Project.CreatedDate})))</expression>
    </formulas>
    <formulas>
        <name>FormatedProjectEstimatedFinishDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!Get_Created_Project.Estimated_Finish_Date__c})) + &quot;/&quot; + TEXT(MONTH({!Get_Created_Project.Estimated_Finish_Date__c})) + &quot;/&quot; + TEXT(YEAR({!Get_Created_Project.Estimated_Finish_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>GetOrgHyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})) + &quot;/&quot; +{!Get_Created_Project.Id}</expression>
    </formulas>
    <formulas>
        <description>Valida se o título tem ao menos 10 caracteres.</description>
        <name>IsTitleAtLeast10Char</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Title}) &gt; 10</expression>
    </formulas>
    <interviewLabel>ProjectForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Cria uma solicitação com base nos dados do componente Screen</description>
        <name>CreateProject</name>
        <label>Criar Solicitação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CreatedProjectId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Project</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Muda_Mensagem_de_Erro_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Project</name>
        <label>Get Created Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sucesso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CriarSolicitacao</name>
        <label>Criar Solicitação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prioridade_Selecionada</targetReference>
        </connector>
        <fields>
            <name>CriarSolicitacaoTitulo</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Criar solicitação&lt;/strong&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Título</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;O título precisa conter ao menos 10 caracteres.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!IsTitleAtLeast10Char}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Low</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Critical</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Low</defaultSelectedChoiceReference>
            <fieldText>Prioridade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>5</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Descrição</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Forneça uma descrição rica em detalhes para que um Administrador possa solucionar seu problema.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>9</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Prosseguir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Tela de erro exibida caso algo tenha acontecido de errado.</description>
        <name>Erro</name>
        <label>Erro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <fields>
            <name>TituloErro</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Algo deu errado&lt;/strong&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ImagemErro</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_PNG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>[erro]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>max-width: 100px;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Mensagem</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!MensagemErroDinamica}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucesso</name>
        <label>Sucesso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenTitle</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Solicitação aberta&lt;/strong&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ImagemSucesso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Success_PNG</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>[sucesso]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>max-width: 100px;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MensagemSucesso</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Sua solicitação de id {!Get_Created_Project.Name} foi aberta com sucesso e será tratada por algum administrador em breve.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Concluir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CriarSolicitacao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MensagemErroDinamica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
